@import url('https://fonts.googleapis.com/css2?family=Poppins display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{

  --background-color-1:#013565;
  --background-color-2:  #001d3d;

  --primary-text-color:rgb(233, 233, 233);
  --secondary-text-color:#c5c5c5;
  --header-text-color:var(--primary-color);


  --primary-color:#ffc818;
  --primary-link-color:rgb(233, 233, 233);

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}